$border-radius: 15px;

.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30rem;
  margin: 0 auto;

  input {
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    border: none;
    background: #e6e6e6;
    width: 100%;
    border-radius: $border-radius * 2;
    box-shadow: inset 0 0 6px #0000003d;
    outline: none;
    transition: 1s;

    &:hover {
      transition: 0.5s;
      filter: brightness(1.1);
    }
  }

  .next-cities {
    position: absolute;
    top: 100%;
    background: rgba(254, 254, 254, 0.6117647059);
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.32);
    border-radius: $border-radius;
    backdrop-filter: blur(12px);
    z-index: 1;
    width: 100%;

    .item {
      cursor: pointer;
      padding: 0.2rem 0.5rem;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &:last-child {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &:hover {
        background: #eee;
      }
    }

    .item.active {
      background: #53666e;
      color: white;
    }
  }
}